@import "../sass/var"

.projectBlock
	position: static

.switchButton
	margin: 20px auto 0 auto
	cursor: pointer
	max-width: 200px

	padding: 10px 15px
	background-color: #8E66BF
	color: white
	border-radius: 50px
	box-shadow: $box_shadow
	text-align: center