@import "./sass/var"

.home    
  &_about_me
    position: relative
    padding: 15px
    background-color: #383838
    box-shadow: $box_shadow
    border-radius: 3px
    max-width: 960px
    margin: 0 auto

    h3
      color: white
      text-align: center

    .active_color
      color: $active_text_color  

  &_react_components
    margin-top: 40px

    h2
      text-align: center    